body {
  background: #EBFFFB;
  font-family: Verdana, sans-serif;
  margin: 20px;
     }
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;}

header {
  text-align: center;
  padding: 20px 0;
  }

header h1 {
  color: #00FFF4;
  font-size: 6vw;
  margin: 10px;
  text-shadow: 4px 4px 3px #065E59;
}

nav {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #00F7EC;
}

section {
  margin-bottom: 30px;
  overflow: auto;
 }

h2 {
  background-color: #91FFF4;
  color: white;
  padding: 8px;
  font-size: 45px;
  text-align: center;
}

/* IMAGEN */
.img {
  border-radius: 20px;
  max-width: 50%;
  height: auto;
  border: 5px solid #08FFF3;
  float: left;       
  margin-right: 20px; 
  margin-bottom: 20px; 
  }

p {
  font-size: 27px;
  line-height: 1.4;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

.shadowbox {
  margin: 10px auto;
  width: 15em;
  border: 1px solid #333;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  border-radius: 20px;
  }


footer {
  color: #35E8CB;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

footer p{
  font-size: 15px;
}
footer a {
  color: #35E8CB;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


